<!DOCTYPE html>
<html>
  <head>
    <title>plant clinic</title>
  </head>
  <body>
    <h1>{{plant_name}} CLINIC</h1>
    <img src="http://www.htmldog.com/badge1.gif">
    <h2> about plant clinic</h2>
    <p> Lorem ipsum odor amet, consectetuer adipiscing elit. Placerat lorem accumsan phasellus hac per sed. Curabitur dui ridiculus dapibus litora aliquam curabitur. Posuere auctor euismod mi turpis habitant augue vehicula primis. Sodales penatibus et mollis erat senectus blandit condimentum et. Commodo conubia sodales vivamus primis urna posuere habitant? Semper ornare himenaeos erat tempus blandit ligula tristique placerat. Ultricies ornare suspendisse suspendisse vestibulum placerat sit luctus accumsan.</p>
    <h2>plant categories</h2>
    <div>
      { % for plant in plants % }
     
      {% include 'plantname.html' %}
      
      { % end for % }
    </div>
    <button>CONTACT US</button>
  </body>
</html>